@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('../fonts/roboto/Robotothin.woff2') format('woff2'),
    url('../fonts/roboto/Robotothin.woff') format('woff'),
    url('../fonts/roboto/Robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('../fonts/roboto/Robotothinitalic.woff2') format('woff2'),
    url('../fonts/roboto/Robotothinitalic.woff') format('woff'),
    url('../fonts/roboto/Robotothinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto/Robotolight.woff2') format('woff2'),
    url('../fonts/roboto/Robotolight.woff') format('woff'),
    url('../fonts/roboto/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../fonts/roboto/Robotolightitalic.woff2') format('woff2'),
    url('../fonts/roboto/Robotolightitalic.woff') format('woff'),
    url('../fonts/roboto/Robotolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/Roboto.woff2') format('woff2'),
    url('../fonts/roboto/Roboto.woff') format('woff'),
    url('../fonts/roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../fonts/roboto/Robotoitalic.woff2') format('woff2'),
    url('../fonts/roboto/Robotoitalic.woff') format('woff'),
    url('../fonts/roboto/Robotoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto/Robotomedium.woff2') format('woff2'),
    url('../fonts/roboto/Robotomedium.woff') format('woff'),
    url('../fonts/roboto/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('../fonts/roboto/Robotomediumitalic.woff2') format('woff2'),
    url('../fonts/roboto/Robotomediumitalic.woff') format('woff'),
    url('../fonts/roboto/Robotomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto/Robotobold.woff2') format('woff2'),
    url('../fonts/roboto/Robotobold.woff') format('woff'),
    url('../fonts/roboto/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('../fonts/roboto/Robotobolditalic.woff2') format('woff2'),
    url('../fonts/roboto/Robotobolditalic.woff') format('woff'),
    url('../fonts/roboto/Robotobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto/Robotoblack.woff2') format('woff2'),
    url('../fonts/roboto/Robotoblack.woff') format('woff'),
    url('../fonts/roboto/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('../fonts/roboto/Robotoblackitalic.woff2') format('woff2'),
    url('../fonts/roboto/Robotoblackitalic.woff') format('woff'),
    url('../fonts/roboto/Robotoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@keyframes hover {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-size: 16px;
  line-height: 1.7;
  font-weight: normal;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1920px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* HEADER START */

.header {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.container__header {
  display: flex;
  flex-direction: column;
}

.header__info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 0;
  background-color: #efefef;
}

.header__info__list {
  display: flex;
  margin: 0;
}

.header__info__item {
  margin: 0 30px 0 0;
  list-style-type: none;
}

.header__info__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

.header__content {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0 20px 0 0;
}

.header__title {
  margin: 0 172px 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #f13c6e;
}

.header__search {
  margin: 0 93px 0 0;
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 50px;
}

.header__search:hover {
  margin: 0 53px 0 0;
}

.header__search:hover .search__input {
  width: 250px;
  padding: 10px 0;
  background-color: #f13c6e;
  border: 2px solid #f13c6e;
  border-radius: 40px;
}

.header__search:hover .search__btn {
  background-color: #f13c6e;
  border: 2px solid #fff;
  border-right: none;
  margin: 0 0 0 -50px;
}

.header__search:hover .search__icon {
  fill: #fff;
}

.header__search:hover .search__text {
  display: none;
}

.search__input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 18px;
  color: #fff;
  width: 0;
  transition: 0.4s;
}

.search__input::-webkit-input-placeholder {
  color: #fff;
  padding: 20px;
}

.search__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f13c6e;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.search__icon {
  fill: #bdbdbd;
}

.search__text {
  margin: 0 0 0 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.header__phone {
  margin: 0 40px 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.header__btn {
  padding: 13px 27px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border: 2px solid #f13c6e;
  border-radius: 40px;
}

.line__grey {
  width: 100%;
  height: 1px;
  background-color: #efefef;
}

.header__navbar {
  padding: 30px 0;
}

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navbar__item {
  margin: 0 40px 0 0;
  list-style-type: none;
}

.navbar__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* HEADER FINISH */

/* MAIN START */

.main {
  padding: 193px 0;
  margin: 0;
  background-image: url(../image/bg__main.png);
  background-size: cover;
}

.container__main {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.main__title {
  margin: 0 0 50px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}

.main__text {
  max-width: 310px;
  margin: 0 0 50px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.main__btn {
  max-width: 170px;
  padding: 13px 27px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 40px;
}

/* MAIN FINISH */

/* SPECIAL START */

.special {
  margin: 0;
  padding: 80px 0 100px 0;
  background-color: #e5e5e5;
}

.container__special {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.special__title {
  margin: 0 0 38px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.special__items {
  display: flex;
  align-items: center;
}

.special__figure {
  margin: 0 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 363px;
  background-color: #fff;
}

.special__figure:last-child {
  margin: 0;
}

.special__photo {
  width: 125px;
  height: 166px;
  margin: 0 0 20px 0;
}

.special__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption__title {
  margin: 0 0 20px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}

.caption__price {
  margin: 0 0 20px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.caption_btn {
  padding: 9px 40px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  background-color: #f13c6e;
  border-radius: 30px;
}

/* SPECIAL FINISH */

/* BONUS START */

.bonus {
  margin: 0;
  padding: 0 0 100px 0;
  background-color: #e5e5e5;
}

.container__bonus {
  width: 60%;
  display: flex;
  align-items: center;
}

.bonus__box {
  padding: 35px 0;
  margin: 0 30px 0 0;
  width: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f13c6e;
}

.bonus__box:last-child {
  margin: 0;
}

.bonus__content {
  display: flex;
  flex-direction: column;
  margin: 0 65px 0 0;
}

.bonus__content:last-child {
  margin: 0;
}

.bonus__title {
  margin: 0 0 25px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.bonus__text {
  max-width: 231px;
  margin: 0 0 25px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.bonus__text:last-child {
  max-width: 141px;
}

.bonus__input {
  width: 225px;
  height: 35px;
  border: none;
  background: #ffffff;
  border-radius: 30px;
}

.bonus__input::-webkit-input-placeholder {
  padding: 29px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.bonus__btn {
  padding: 9px 29px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  border-radius: 30px;
  border: 2px solid #ffffff;
}

/* BONUS FINISH */

/* IMPLUS START */

.implus {
  margin: 0;
  padding: 0 0 80px 0;
  background-color: #e5e5e5;
}

.container__implus {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.implus__item {
  padding: 35px 64px;
  background-color: #fff;
  margin: 0 1px 1px 0;
}

.implus__photo {
  width: 149px;
  height: 49px;
}

/* IMPLUS FINISH */

/* SEE START */

.see {
  padding: 0 0 80px 0;
  margin: 0;
  background-color: #e5e5e5;
}

/* SEE FINISH */

/* FOOTER FINISH */

.footer {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

.container__footer {
  display: flex;
  flex-direction: column;
}

.footer__content {
  padding: 60px 0 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.footer__navbar {
  width: 60%;
  margin: 0 auto 60px;
  display: flex;
}

.footer__navbar__item {
  margin: 0 30px 0 0;
}

.footer__navbar__item:last-child {
  margin: 0;
}

.footer__title {
  margin: 0 0 30px;
  max-width: 99px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
  color: #000000;
}

.footer__navbar__line {
  margin: 0 0 25px;
  width: 255px;
  height: 1px;
  background-color: #efefef;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__list__item {
  margin: 0 0 5px;
}

.footer__navbar__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  color: #828282;
}

.footer__info {
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__socials {
  display: flex;
  list-style: none;
}

.social__item {
  margin: 0 10px 0 0;
}

.social__item:last-child {
  margin: 0;
}

.social__link {
  text-decoration: none;
  background: #f1f1f1;
  color: #ff2626;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  box-shadow: -5px 5px 20px -5px #010101;
  position: relative;
  overflow: hidden;
}

.social__link i {
  font-size: 22px;
  transition: 0.3s ease;
}

.social__link:before {
  position: absolute;
  content: '';
  width: 120%;
  height: 120%;
  background-color: #ff2626;
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
}

.social__link:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.social__link:hover:before {
  animation-name: hover;
  animation-duration: 0.6s;
  top: -10%;
  left: -10%;
}

.footer__mainText {
  display: flex;
  align-items: center;
}

.footer__text {
  margin: 0 105px 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.footer__phone {
  margin: 0 40px 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.footer__btn {
  padding: 13px 27px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border: 2px solid #f13c6e;
  border-radius: 40px;
}

.footer__license {
  width: 60%;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

.license__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

/* FOOTER FINISH */
